.auth-form-container{
    .login-form{
    display: flex;
    flex-direction: column;
    gap: 5px; 
    background-color: #B20202(211, 12, 89);
    justify-content: center;
    font-size: 16px;
    } 
    

    
    input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    color: #f3ecec;
    }}
    
    
    
    @media only screen and (min-width: 660px) {
        .auth-form-container {
          font-size: 24px;
          border-radius: 10px;
          /* border: 1px solid rgb(119, 2, 2); */
          color: #fff;
          margin: 10px;
          padding: 10px 20px;
          align-items: center;
        }
      }